.form-control {
    width: 20%;
}

#submit, #reset{
    margin-top: 10px;
    margin-bottom: 10px;
}

.topics {
    margin-top: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
}

#add-gifs-area {
    display: flex;
}

.card-img-top {
    height: 130px;
}

.card {
    margin: 10px;
}

.rating {
    font-size: 10px;
}