.form-control {
    width: 20%;
}

#submit{
    margin-top: 10px;
}

.topics {
    margin-top: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
}

#add-gifs-area {
    display: block;
}

.card-img-top {
    width: 15rem;
}

.card {
    width: 250px;
    margin: 5px;
}